<ion-header>
  <ion-toolbar>
    <ion-title>TAMBAH NOTE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Judul Note</ion-label>
    <ion-input [(ngModel)]="judul" required></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Isi Note</ion-label>
    <ion-input [(ngModel)]="isi" required></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Tanggal Note</ion-label>
    <ion-datetime [(ngModel)]="tanggal" required></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Nilai Note</ion-label>
    <ion-input [(ngModel)]="nilai" required></ion-input>
  </ion-item>
  <ion-item>
    <ion-button (click)="tambahFoto()">PILIH FOTO</ion-button>
  </ion-item>
  <ion-grid>
    <ion-row>
      <ion-col size="1" *ngFor="let isiFoto of fotoService.dataFoto; index as position">
        <ion-card>
          <ion-img [src]="isiFoto.webViewPath"></ion-img>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
 
  <div class="ion-text-end">
    <ion-button (click)="clear()" fill="outline" color="danger">CLEAR</ion-button>
    <ion-button type="submit" color="success" (click)="tambahNote()">TAMBAH</ion-button>
  </div>

</ion-content>
