<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      APLIKASI NOTES
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button (click)="tambahNote()">TAMBAH NOTE</ion-button>

  <ion-card *ngFor="let note of (noteFirestore | async)">
    <ion-card-header>
      <ion-card-title>{{note.judul}}</ion-card-title>
    </ion-card-header>
    <ion-item>{{note.isi}}</ion-item>
    <ion-item>{{note.tanggal}}</ion-item>
    <ion-item>{{note.nilai}}</ion-item>
  </ion-card>

</ion-content>
